* ,
*:before,
*:after {
    box-sizing: border-box;
}

.PFX-html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10px;
    height: 100%;
}

.PFX-body {
    height: 100%;
}

.PFX-main {
    margin: 0 auto (-$footerHeight);
    min-height: 100%;
    padding: $headerHeight 0 0;
}