.PFX-footer {
    font-size: 1.4rem;
    height: $footerHeight;
    padding: 2rem 5rem;
    text-align: center;
}

.PFX-footer_languageSelector {
    color: $mainColor;
    margin: 0 0 1rem;
}

.PFX-footer_allRightsReserved {
    color: $lightGrey;
    font-weight: 100;
}

.PFX-footer_contact {
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 1.3;
    margin: 0 0 4rem;
}