.PFX-footer {
    font-size: 1.4rem;
    height: $footerHeight;
    padding: 2rem 5rem;
}

.PFX-footer_languageSelector {
    margin: 0 0 1rem;
    text-align: center;
}

.PFX-footer_allRightsReserved {
    color: $lightGrey;
    font-weight: 100;
    text-align: center;
}