.PFX-menuButton {
    float: left;
    margin: 0 4rem 0 0;

    .line {
        background: $darkGrey;
        border-radius: 2px;
        height: 3px;
        margin: 0 0 .7rem;
        width: 3rem;
    }
}