.PFX-title {
    font-size: 6rem;
    font-weight: 200;
    text-align: center;
}

.PFX-subtitle {
    color: $darkGrey;
    font-size: 3rem;
    font-weight: 100;
    margin: 0 0 3rem;
    text-align: center;
}

.PFX-paragraph {
    color: $lightGrey;
    font-size: 1.7rem;
    font-weight: 200;
    line-height: 1.5;
    margin: 0 auto;
    text-align: center;
    width: 700px;
}