<header class="PFX-header">

    <div class="PFX-menuButton">
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <nav class="PFX-navigation-social">
        <a href="#" target="_blank"><svg-icon data-name="xing_logo"></svg-icon></a>
        <a href="#" target="_blank"><svg-icon data-name="linkedin_logo"></svg-icon></a>
    </nav>

    <nav class="PFX-navigation-main">
        <a [routerLink]="['/Start']">Start</a>
        <a [routerLink]="['/About']">About</a>
    </nav>
</header>

<div class="PFX-main">
    <router-outlet></router-outlet>
</div>

<footer class="PFX-footer">
    <address class="PFX-footer_contact">
        Marek Chec<br />
        Buggestraße 14<br />
        12163 Berlin | Deutschland
        <div>+49 171 344 46 60</div>
        <div>mail@marekchec.com</div>
    </address>
    <div class="PFX-footer_languageSelector">
        <span>Sprache wechseln:</span> <span>german</span>
    </div>
    <div class=PFX-footer_allRightsReserved>
        <span>marekchec.com | Copyright © 2015. All rights reserved.</span>
    </div>
</footer>