<header class="PFX-header">

    <div class="PFX-menuButton">
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <nav class="PFX-navigation-social">
        <a href="#" target="_blank"><svg-icon data-name="xing_logo"></svg-icon></a>
        <a href="#" target="_blank"><svg-icon data-name="linkedin_logo"></svg-icon></a>
    </nav>

    <nav class="PFX-navigation-main">
        <a [routerLink]="['/Start']">Start</a>
        <a [routerLink]="['/About']">About</a>
    </nav>
</header>

<div class="PFX-main">
    <router-outlet></router-outlet>
</div>

<footer class="footer centerContent">
    <div class=footer_allRightsReserved>
        <span>Copyright © 2016. All rights reserved.</span> <a [routerLink]="['/Impressum']">Impressum</a>
    </div>
</footer>