<section class="start_intro centerContent">
    <h1 class="start_intro_headline">Hey ho, how ya doin?</h1>
    <p class="start_intro_description">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it</p>
</section>
<ul class="start_shortcuts">
    <li class="start_shortcuts_item">
        <h2 class="start_shortcuts_title">Who am I</h2>
        <p class="start_shortcuts_subtitle">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
    </li>
    <li class="start_shortcuts_item">
        <h2 class="start_shortcuts_title">All about work</h2>
        <p class="start_shortcuts_subtitle">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
    </li>
    <li class="start_shortcuts_item start_shortcuts_item-last">
        <h2 class="start_shortcuts_title">Get in touch</h2>
        <p class="start_shortcuts_subtitle">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
    </li>
</ul>