<div class="PFX-headerInner">
    <div class="PFX-menuButton">
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <!--<nav class="PFX-navigation-main">-->
        <!--<ul>-->
            <!--<li><a data-ui-sref="{{ ::routeConstant.START }}" data-ui-sref-active="active">{{ 'START' | translate }}</a>-->
            <!--</li>-->
            <!--<li><a data-ui-sref="{{ ::routeConstant.ABOUT }}" data-ui-sref-active="active">{{ 'ABOUT' | translate }}</a>-->
            <!--</li>-->
            <!--<li><a data-ui-sref="{{ ::routeConstant.CONTACT }}" data-ui-sref-active="active">{{ 'CONTACT' | translate }}</a></li>-->
        <!--</ul>-->
    <!--</nav>-->
    <nav class="PFX-navigation-social">
        <ul>
            <li><a href="#" target="_blank"><svg-icon data-name="xing_logo"></svg-icon></a></li>
            <li><a href="#" target="_blank"><svg-icon data-name="linkedin_logo"></svg-icon></a></li>
        </ul>
    </nav>
</div>